body{
    background-color: white;
}
.general-container{

}
.top-section{

}
.top-section p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-section p:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 564px;
    height: 92px;
    font-size: 44px;
    font-family: "Gilroy-Bold", sans-serif;
}
.top-section p:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 139px;
    height: 16px;
    margin-top: 33px;
    font-size: 16px;
    line-height: 16px;
    font-family: "Gilroy-Bold", sans-serif;
    color: rgba(27, 109, 241, 1);
}