body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* fixed-practical */
.fixed-practical {
    width: 350px;
    height: 300px;
    background-color: rgb(231, 132, 61);
    padding: 10px;
}

.fixed-box {
    width: 300px;
    height: 50px;
    background-color: rgb(250, 250, 250);
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    position: fixed;
}

.fixed-lorem {
    width: 100%;
    height: 100%;
    overflow: scroll;
    box-sizing: border-box;
}

/* sticky-practical */
.sticky-practical {
    width: 350px;
    height: 300px;
    background-color: rgb(191, 220, 111);
    padding: 10px;
    overflow: auto;
}

.sticky-box {
    width: 300px;
    height: 50px;
    background-color: rgb(250, 250, 250);
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    position: sticky;
    top: 20px;
}

/* .sticky-lorem{
    width: 100%;
    height: 100%;
    overflow: scroll;
    box-sizing: border-box;
} */

/* backdrop-filter-practical */
.backdrop-filter-practical {
    width: 1000px;
    margin-top: 350px;
    margin-left: -1150px;
    margin-bottom: 50px;
}

.backdrop-filter-practical img {
    width: 150px;
    margin-left: 10px;
    margin-top: 15px;
}

.backdrop-filter-practical img:nth-child(1) {
    filter: blur(5px);
}

.backdrop-filter-practical img:nth-child(2) {
    filter: invert(100%);
}

.backdrop-filter-practical img:nth-child(3) {
    filter: brightness(30%)
}

.backdrop-filter-practical img:nth-child(4) {
    filter: sepia(90%);
}

.backdrop-filter-practical img:nth-child(5) {
    filter: hue-rotate(30deg);
}

.backdrop-filter-practical img:nth-child(6) {
    filter: blur(5px) brightness(150%) contrast(200%);
}

/* transform skew practical */
.transform-skew-practical-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 25px;
}

.transform-skew-practical {
    width: 100px;
    height: 100px;
    background-color: rgb(136, 155, 231);
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 3px;
    margin-left: 20px;
}

.transform-skew-practical:nth-child(1) {
    transform: skew(20deg);
}

.transform-skew-practical:nth-child(2) {
    transform: skew(-20deg);
}

.transform-skew-practical:nth-child(3) {
    transform: skewY(20deg);
}

.transform-skew-practical:nth-child(4) {
    transform: skewY(-20deg);
}

.transform-skew-practical:nth-child(5) {
    transition: transform 0.3s ease;
}

.transform-skew-practical:nth-child(5):hover {
    transform: skew(20deg, 10deg);
}

/* transform-scale-practical */
.transform-scale-practical-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.transform-scale-practical {
    width: 100px;
    height: 100px;
    background-color: rgb(136, 226, 231);
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 3px;
    margin-left: 20px;
}

.transform-scale-practical:nth-child(1) {
    transition: transform 0.3s ease;
}

.transform-scale-practical:nth-child(1):hover {
    transform: scale(1.5);
}

.transform-scale-practical:nth-child(2) {
    transition: transform 0.3s ease;
}

.transform-scale-practical:nth-child(2):hover {
    transform: scaleX(2);
}

.transform-scale-practical:nth-child(3) {
    transition: transform 0.3s ease;
}

.transform-scale-practical:nth-child(3):hover {
    transform: scaleY(2);
}

.transform-scale-practical:nth-child(4) {
    transition: transform 0.3s ease;
}

.transform-scale-practical:nth-child(4):hover {
    transform: scale(3, 2);
}

.transform-scale-practical:nth-child(5) {
    transition: transform 0.3s ease;
}

.transform-scale-practical:nth-child(5):hover {
    transform: scale(.5);
}

/* :root practical */
.root-container {
    width: 200px;
    height: 100px;
    background-color: rgb(223, 219, 104);
    color: var(--bg-color);
    color: var(--text-color);
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

:root {
    --bg-color: rgb(50, 113, 177);
    --text-color: rgb(209, 72, 72);
    --hover-bg-color: rgb(195, 117, 204);
}

/* :root practical end */